.map_container {
	position: relative;
	width: 100%;
	padding-bottom: 42%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map_container .map_canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.realtimeChart_container {
	position: relative;
	width: 120%;
}

.login-panel {
	margin-top: 25%;
}

.PSI1 {
	COLOR: #000000;
	BACKGROUND-COLOR: #00ff00;
}

.PSI1 A {
	COLOR: #000000
}

.PSI2 {
	COLOR: #000000;
	BACKGROUND-COLOR: #ffff00;
}

.PSI2 A {
	COLOR: #000000
}

.PSI3 {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #ff0000;
}

.PSI3 A {
	COLOR: #ffffff
}

.PSI4 {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #800080;
}

.PSI4 A {
	COLOR: #ffffff
}

.PSI5 {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #633300;
}

.PSI5 A {
	COLOR: #ffffff
}

.PSI1_BG {
	border: outset 1px #a0a0a0
}

.PSI2_BG {
	border: outset 1px #a0a0a0
}

.PSI3_BG {
	border: outset 1px #a0a0a0
}

.PSI4_BG {
	border: outset 1px #a0a0a0
}

.PSI5_BG {
	border: outset 1px #a0a0a0
}

.FPMI1 {
	background-color: rgb(156, 255, 156);
}

.FPMI2 {
	background-color: rgb(49, 255, 0);
}

.FPMI3 {
	background-color: rgb(49, 207, 0);
}

.FPMI4 {
	background-color: rgb(255, 255, 0);
}

.FPMI5 {
	background-color: rgb(255, 207, 0);
}

.FPMI6 {
	background-color: rgb(255, 154, 0);
}

.FPMI7 {
	background-color: rgb(255, 100, 100);
}

.FPMI8 {
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}

.FPMI9 {
	background-color: rgb(153, 0, 0);
	color: rgb(255, 255, 255);
}

.FPMI10 {
	background-color: rgb(206, 48, 255);
	color: rgb(255, 255, 255);
}

.pdf {
	color: red;
	text-shadow: 3px 3px 3px #0;
}

.excel {
	color: blue;
	text-shadow: 3px 3px 3px #0;
}

.html-content {
    margin-left: 3px;
    margin-right: 5px;
    border: 3px double #72B5BD;
    padding: 1em .5em 2em 1em;
}

.AQI1 {
	color: #000;
	background-color: #00e800
}

.AQI1 A, .AQI1 a:hover {
	color: #000
}

.AQI2 {
	color: #000;
	background-color: #ff0
}

.AQI2 A, .AQI2 A:hover {
	color: #000
}

.AQI3 {
	color: #000;
	background-color: #ff7e00
}

.AQI3 A, .AQI3 A:hover {
	color: #000
}

.AQI4 {
	background-color: red
}

.AQI4 A, .AQI4 A:hover {
	color: #fff
}

.AQI5 {
	color: #fff;
	background-color: #8f3f97
}

.AQI5 A, .AQI5 A:hover {
	color: #fff
}

.AQI6 {
	color: #fff;
	background-color: #7e0023
}

.AQI6 A, .AQI6 A:hover {
	color: #fff
}

.AQI1_BG {
	border: outset 1px #a0a0a0
}

.AQI2_BG {
	border: outset 1px #a0a0a0
}

.AQI3_BG {
	border: outset 1px #a0a0a0
}

.AQI4_BG {
	border: outset 1px #a0a0a0
}

.AQI5_BG {
	border: outset 1px #a0a0a0
}

.AQI6_BG {
	border: outset 1px #a0a0a0
}