@* realtimeValues Template File *@
@import models.Realtime._
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._

@(rt_status: Map[Monitor.Value, Map[MonitorType.Value, (Option[Float], Option[String])]], privilege: Privilege)(implicit messages:Messages)
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>			  
			<th>@Messages("rtStatus.monitor")</th>			
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				<th>@MonitorType.map(mt).desp</th>
			}
		</tr>
	</thead>
	<tfoot>
		<tr>			  
			<th>@Messages("rtStatus.LawStd")</th>			
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				@if(MonitorType.map(mt).std_law.isDefined){
					<th>@MonitorType.map(mt).std_law</th>	
				}else{
					<th>-</th>
				}				
			}
		</tr>
		<tr>			  
			<th>單位</th>			
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				<th>@MonitorType.map(mt).unit</th>	
			}
		</tr>
	</tfoot>	
	<tbody>
		@for(m <- privilege.allowedMonitors){
			<tr>
				<td>@Monitor.map(m).name</td> 
				
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				@if(rt_status(m)(mt)._1.isEmpty){
						@if(Monitor.map(m).monitorTypes.contains(mt)){
							<td>-</td>	
						}else{
							<td>N/A</td>
						}												
					}else{						
						<td style="@MonitorType.getStyleStr(m, mt, rt_status(m)(mt))" 
							@if(Monitor.map(m).getStdInternal(mt).isDefined){																
								title="@Messages("rtStatus.internalStd"):@Monitor.map(m).getStdInternal(mt).get @MonitorType.map(mt).unit"
							}
							data-toggle="tooltip" data-container="body" data-trigger="hover"
						>@MonitorType.format(mt, (rt_status(m)(mt)._1))</td>
					}
			}
			
			</tr>
		}
	</tbody>
</table>
@legend(false)
<script>
$( document ).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
	
	$('#reportTable').dataTable( {
		responsive: true,
		"dom": 'T&lt'+'clear'+'&gtlfrtip',
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		"tableTools": {
        	"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")",
        	"aButtons": ["copy", "print", "csv", "xls"]
        },
		paging:   false,
		searching: false,
		info: false
	    } );		
});
</script>

